<h1>Technologies</h1>
  <%= link_to "Add Tech", new_admin_technology_path, class:"btn btn-primary" %></br>

  <% @technologies.each do |technology| %>
  <%= technology.name %>
  <%= link_to 'Remove', admin_technology_path(technology), method: :delete %>
  <hr>
  <% end %>
