<div class="container d-flex justify-content-center align flex-column align-items-center">
<h2> DevSpotlight is for developers in the world </h2>
<p>
  This is the best website to find the latest events related to the techscene.
  You can find a directory that lists all the companies and their information
  as well as the latest tech news in the world.
  You can also registered your company and post your event on our calendar and
  check and attend upcoming events.
  devSpotlight have been developed by the genius corporation. Feel free to contact
  us for additional information and technologies used.
  For those who are interested in knowing the meaning of genius, please follow
  this link.
</p>
<a href="https://en.wikipedia.org/wiki/Genius">Click me to know what a genius is</a>
</div>
