<div class="container">
  This is Event Page
  <hr/>
  <% @events["results"].each do |e| %>
  <h1>  <%= e["group"]["who"] %> </h1>
  <h2><a href="<%= e["event_url"] %>">  <%= e["group"]["name"] %>  </a> </h2>
  <p>  <%= e["description"] %></p>
  <hr/>

  <% end %>
</div>
