<div class="container">
  <h1>Articles <small>(external links)</small></h1>
    <% @announcements.each do |announcement| %>
      <%= link_to announcement.article_name, announcement.article_url %></br>
      Organization: <%= announcement.organization.name %>
      <hr>
<% end %> %>
</div>
