<div class="container">
  <h1>Articles</h1><br>
    <% @announcements.each do |announcement| %>
      <%= link_to announcement.article_name, announcement.article_url %></br>
      Organization: <%= announcement.organization.name %>
      <hr>
    <% end %>
</div>
