<h1>Organizations Index</h1>

<table>
  <tbody>
    <tr>
      <th>Name</th>
    </tr>

    <% @organizations.each do |organization| %>
    <tr>
      <td>
        <%= link_to organization.name, organization_path(organization) %>
        <p>Related Tech</p>
        <%= organization.technologies.map { |technology| technology.name }.join(', ') %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
