@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);

html,
body {
  height: 88%;
}

#container {
  min-height: 100%;
  overflow: hiddden;
  background: url('vancouver.jpg') bottom left repeat-x;
  opacity: 0.2;
}

.navbar {
  overflow: hiddden;
  padding: 120px 50px 170px;
  background: url(http://sksengineering.ca/wp-content/uploads/2015/12/vancouver-dusk-hd-new-wallpapers-for-desktop-wide-free.jpg) bottom left repeat-x;
  background-size: cover;
}

#brand {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  mix-blend-mode: screen;
  padding: 0;
  margin: 10px;
  line-height: 0.5;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100px;
  padding: 5px;
  width: auto;
}

.navbar-custom-color {
  background-color: #000000;
}

a.nav-link {
  font-size: 20px;
  font-family: 'Quicksand',sans-serif;
  margin: 10px;
}

.user {
  color: rgb(235, 217, 219);
  font-size: 18px
}

.dashboard-table {
  margin: 50px;
  border: 2px solid black
}

.btn {
  margin: 5px
}

.form-style {
  margin: 40px;
}

.form-group,
.form-check {
  font-size: 20px;
  font-weight: bold;
}

.label-input {
  margin: 10px;
}

.title-page {
  text-align: center;
  margin-top: 20px
}

.form-style {
  padding: 20px
}

.show-image {
  width: 300px;
  height: 300px;
}

.map {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-link {
  text-decoration:none;
  color: gray
}

.displayImg {
  border: 2px solid gray;
  margin: 10px
}