<h2><%= @user.full_name %>'s Profile</h2>
<p>only the admin has access to any user profiles which contian more detailed information about a user</p>

<ul>
  <li>pending request (to be in an organization or not)</li>
  <li>emails</li>
  <li>organization</li>
</ul>
